Source: ros-rolling-rqt-image-view
Section: misc
Priority: optional
Maintainer: Mabel Zhang <mabel@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, image-transport-tools, libcv-bridge-dev, libgeometry-msgs-dev, libimage-transport-dev, libsensor-msgs-dev, python3-cv-bridge, python3-geometry-msgs, python3-sensor-msgs, qtbase5-dev, ros-geometry-msgs, ros-rolling-qt-gui-cpp, ros-rolling-rclcpp, ros-rolling-rqt-gui, ros-rolling-rqt-gui-cpp, ros-sensor-msgs, ros-rolling-ros-workspace
Homepage: http://wiki.ros.org/rqt_image_view
Standards-Version: 3.9.2

Package: ros-rolling-rqt-image-view
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, image-transport-tools, libcv-bridge-dev, libgeometry-msgs-dev, libimage-transport-dev, libsensor-msgs-dev, python3-cv-bridge, python3-geometry-msgs, python3-sensor-msgs, ros-geometry-msgs, ros-rolling-qt-gui-cpp, ros-rolling-rclcpp, ros-rolling-rqt-gui, ros-rolling-rqt-gui-cpp, ros-sensor-msgs, ros-rolling-ros-workspace
Description: rqt_image_view provides a GUI plugin for displaying images using image_transport.
